:root {
    --m1: #3a0066; /* morado oscuro */
    --m2: #7100b2;
    --m3: #ab49cc;
    --a1: #1e91ed;
    --a2: #81c7ff;
}

/* Fondo general */
body {
    margin: 0;
    background: #000;
    font-family: sans-serif;
    color: #fff;
}

/* Título centrado */
h1 {
    text-align: center;
    font-size: 3rem;
    margin: 30px 0 10px 0;
    color: white;
}

/* NAV */
nav {
    background: var(--m1);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
    border-bottom: 3px solid var(--m3);
}

/* Links del nav */
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: 0.2s;
}

#tabla-container {
  padding: 20px;
  border: 2px solid #444;
  border-radius: 10px;
  background: #f7f7f7;
  width: 95%;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  font-family: sans-serif;
  color: #000;
}

table thead th {
  background: #d9d9d9;
  padding: 10px;
  border: 1px solid #444;
  text-align: left;
  font-weight: bold;
}

table tbody tr {
  background: #e6e6e6;
  border: 1px solid #555;
  transition: all 0.25s ease;
}

table tbody tr td {
  padding: 10px;
  border-right: 1px solid #555;
}

table tbody tr td:last-child {
  border-right: none;
}

/* Hover que expande y resalta */
table tbody tr:hover {
  transform: scale(1.02);
  background: #f2f2f2;
  z-index: 2;
}

/* Opacar el resto */
table tbody:hover tr {
  opacity: 0.4;
}

table tbody tr:hover {
  opacity: 1;
}

/* Expansión real */
table tbody tr:hover td {
  padding-top: 14px;
  padding-bottom: 14px;
}
